Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Right
ReferenceAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: false
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
SortIncludes: true
